.chat-main

 .main__header
  .main__header__left-box
   .main__header__left-box__group
    aチーム
   .main__header__left-box__member
    メンバー：ぽん
  .main__header__edit
   %a{:href => "#"}
   .main-header__edit Edit

 .main__message
  .message
   .message__upper-info
    .message__upper-info__name
     ぽん
    .message__upper-info__date
     2019.11.11
   .message__text
    hello!

 .main__form
  .message-box
   .message-box__input
    %input{:type => "text", :placeholder => "type a message", :class => "message-box__input"}/
    .message-box__input__image
     %label{class: "message-box__input__image"}
      = icon('fas', 'image')
      %input{type: "file" ,class:"file"}
   .message-box__submit-btn
    %input{:type => "submit" ,:value => "Send",:class => "message-box__submit-btn"}/
  