 .main__header
    .main__header__left-box
      .main__header__left-box__group
        ぽん
      .main__header__left-box__member
      メンバー：ぽん
    .main__header__edit
      = link_to 'Edit', "#" , class: "edit-btn"
  .main__message
    .message
      .message__upper-info
        .message__upper-info__name
        ぽん
        .message__upper-info__date
        2019.11.11
      .message__text
        hello!